* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  box-sizing: border-box;    
}

body{
    padding: 10px;
}

nav {
    background-color: black;
    padding: 16px;
}

nav > ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
    display: block;
}

nav > ul > li {
    float: left;
    padding: 0px 4px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
} 

nav ul li a:hover {
    color : #15a3e4;
}
/*
   Only For Sub-Menus
*/

nav > ul > li > ul {
    position: absolute;
    padding: 0px;
    /* padding-top: 16px; */
    list-style: none;
    text-align: center;
    /* display: none; */
    width: 100%;
    /* z-index: 0; */
    right: -1em;
}

nav > ul > li > ul >li {
    background-color: black;
    padding: 5px;
    display: inline-block;
}

nav > ul >li:hover > ul {
    display: block;
    /* position: relative; */
}

ul.countries {
    position: absolute;
    padding: 0px;
    list-style: none;
    display: none;
    white-space: nowrap;
   /* display: inline-block; */
    left: 11.7em;
}

ul.countries li {
    background-color: black;
    padding: 2px 10px
}

ul.continents > li:hover  ul.countries {
    display: inline-block;
}